*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container{
    max-widht: 1280px;
    width: 100%;
    margin: 0 auto;

}
html,body {
    height: 100%;
}
/**Header do site**/
header {
    padding:20px 2%;
}
header .logo img {
    float: left;
    width: 236px;
}
header nav{
    float: right;
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    float: left;
    font-size: 14px;
    padding:0 20px;
    text-transform: uppercase;
}
header ul a{
    color: black;
    text-decoration: none;
}
/****/